.l-page-title {
    background-color: #0077b6;    
    h3 {
        font-size: 18px;
        font-family: system-ui;
        line-height: 0.5rem;
        margin:20px 0 0;
        color: #FFFFFF;
    }
    p {
        font-size: 12px;
        line-height: 0.25rem;
        text-indent: 5px;
        color: #FFFFFF;
    }
    .l-title-icon {
        padding: 0.25rem;
        margin: 0.25rem;
        background-color: #edf1f7;
        border: 3px solid #dee2e6;
        border-radius: 5px;
      }
    
}

